# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized:
**Objectives**
* Identify in which Kernel your Jupyter notebook is running
* Create headings, and add text in bold and italics in Markdown
* Insert links and images using Markdown
* Create Tables in Markdown
* Create ordered and unordered lists in Markdown
* Demonstrate your proficiency in using Markdown in Jupyter Notebooks

### Some of the popular languages that Data Scientists use are:
1. Pyhton
2. R
3. C++
4. C#

### Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. Numpy
3. Pandas


| Data Science Tools | 
| -------------| 
| Weka | 
| Scrapy | 
| Pandas |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#evaluate the expression (3*4)+5
(3*4)+5

17

In [3]:
#In this code cell write an expression that converts 200 minutes into hours
200/6

33.333333333333336

## Author
Nguyen Minh Hieu